block content
  footer 
    iframe(width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=59.9238957%2C30.280006&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0")
    .container
      .row
        .col 
          p Остров Мастеров 2020

