<header>
  <nav class="navbar navbar-expand-lg navbar-light boxmenu">
      <div class="container">
          <a class="navbar-brand" href="/">
              <img class="logo" src="img/logo.svg" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-nav" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="my-nav">
              <ul class="navbar-nav mt-2 mt-lg-0">
                  <div class="navone">
                      <a class="nav-item btn-nav" href="#">открытые мастерские<span class="sr-only">(current)</span></a>
                      <a class="nav-item btn-nav" href="#">история</a>
                      <a class="nav-item btn-nav" href="#">современное состояние</a>
                      <a class="nav-item btn-nav" href="/contact">контакты</a>
                  </div>
              
                  <div class="navtwo">
                      <button class="nav-item btn-nav btn-circle" href="#">eng</button>
                      <button class="nav-item btn-color" href="#"></button>
                  </div>
              </ul>    
          </div>
      </div>        
  </nav>
</header>