extends layout

block content
  include partials/header
  
  <div class="container mt">
    <div class="row">
      <div class="col">
        h2 Контакты
        p Here is the deal. This site is simple. It was created by Vasily Myazin to use as a foundation for future simple web sites.
      </div>
    </div>    
  </div>
  
  include partials/footer