extends layout

block content
  include partials/header
  
  h2 About
  p Here is the deal. This site is simple. It was created by Vasily Myazin to use as a foundation for future simple web sites.

  include partials/footer