extends layout

block content
  include partials/header
  
  <div class="container">
    <div class="row">
      <div class="col">
        h2.title Контакты
        p.text Координатор проекта: Ирина Решетникова<br><b>+7 910 792-57-20</b><br><br>Пресс-служба проекта: Елена Добрякова<br><b>+7 904 635-52-40</b><br><br>Автор идеи: Роман Шустров<br><b>+7 921 914-35-51</b><br><br>Роман Шустров родился в 1959 году в Ленинграде.<br>Учился в Рисовальных классах при СПб Академии художеств им. И. Е. Репина в 1981-87 гг.<br>Начал работать в кукольном жанре с 1988 года.<br>Принимал участие в создании СПб музея кукол, СПб музея авторской игрушки, СПб галереи кукол.<br>Член Международного Объединения Авторов Кукол (МОАК).<br>Член Союза Художников России.<br>Кукольные скульптуры Романа Шустрова сделаны в технике папье-маше с использованием дерева, текстиля и авторской росписи.<br>Является родоначальником жанра кукольной скульптуры в Санкт-Петербурге.<br>Автор городской скульптуры «Петербургский ангел» (бронза) в Измайловском саду СПб.
      </div>
    </div>    
  </div>
  
  include partials/footer