extends layout

block content
  include partials/header
  
  <div class="container top-section">
    <div class="row">
      <div class="col">
      <div class="headings float-right">
        <h1 class="isle-title">Остров мастеров</h1>
        <h2 class="isle-title-text">Ремесленный арт-проект<br>на Матисовом острове</h2>
      </div>
      <div class="empty-box"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title-frame">
          <div class="text-frame mx-auto">
            p Проект предполагает создание на основе архитектурно-исторического контекста, связанного с культурным прошлым острова, крупного социально-образовательного арт-центра  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="title">Идея проекта</h3>
        <p class="text">В Матисовом переулке есть несколько зданий, где располагаются станции авторемонта. Предполагается переоборудовать их в ремесленные мастерские, требующие особого оборудования: кузня, керамический центр, мастерская стекла, большой ворк-шоп печатной графики, где смогут работать художники из разных стран, школа мозаики и столярная мастерская. В нескольких галереях будут проходить постоянные выставки произведений разных художников. Артистическое кафе станет местом встреч, проведения лекций и мастер-классов.</p>
        <div class="img-sm-p0 row">
          <img class="img-fluid col-md-6" src="img/project-ostrov01.jpg" alt="Матисов остров1">
          <img class="img-fluid col-md-6" src="img/project-ostrov02.jpg" alt="Матисов остров2">
        </div>
      </div>  
    </div>
  
    <div class="row">
      <div class="col">
        <p class="text mt">Общими для всех художников будут несколько пространств для выставок, музеев, площадок для проведения образовательных программ, показа медиа и театральных проектов. Одно из помещений будет посвящено истории острова. В нем будет располагаться пекарня, два зала кафе, один посвященный мельнику Матиасу, другой инженеру Чарльзу Берду.</p>
      </div>
    </div>
    <div class="img-sm-p0 row">
      <div class="col">
        <img class="img-fluid" src="img/project-ostrov03.jpg" alt="Открытые мастерские">
      </div>
    </div>
    <div class="img-sm-p0 row mt">
      <img class="img-fluid col-md-9" src="img/project-ostrov04.jpg" alt="Мастерские">
      <p class="text right-text col-md-3 mt-5 mt-sm-0">Для приезжих художников будут оборудованы небольшие студии-резиденции, где можно будет арендовать помещения для жизни и работы.</p>
    </div>
  
    <div class="row">
      <div class="col">
        <h3 class="title-small">Мельница на заброшенном пустыре</h3>
        <P class="text">Проект возведения мельницы Матиаса как визуальной доминанты острова.</P>
        <div class="img-sm-p0 row">
          <img class="img-fluid col-sm-9" src="img/project-ostrov05.jpg" alt="Мельница" class="img-content">
          <img class="img-fluid col-sm-3" src="img/project-ostrov06.jpg" alt="Мельница" class="img-content">
        </div>   
      
        <p class="text text-padding-top">Планируется воссоздать исторический образ мельницы Маттиаса, для чего будут привлечены специалисты из Финляндии, Голландии и Англии – историки, архитекторы, художники и дизайнеры. Мельница станет образовательно-исторической и туристической площадкой. Внутри мельницы расположится музей, рассказывающий о жизни и работе мельников петровской и постпетровской эпох, о технических особенностях мельниц, существовавших в Европе в XVIII - XIX вв. Музей также включит материалы о паровой мукомольной мельнице Берда, работавшей на острове.</p>
        <div class="text-padding-top row align-items-end">
          <div class="col-md-8"><img src="img/Mill.jpg" alt="Мельница" class="img-fluid inverted"></div>
          <div class="col-md-4 text-center"><img src="img/Miller.jpg" alt="Мельник" class="img-fluid px-5 p-sm-0 inverted"></div>
        </div>
        <p class="text paragraph">Заброшенный пустырь, который находится сразу за мостом на месте бывших бань, станет открытой площадкой для театральных, музыкальных и художественных перформансов, мастер-классов и медиа-арт проектов. Этот пустырь окружен зданиями, в которых планируется разместить мастерские и другие помещения Города Мастеров. Здесь ежегодно будет проходить большой международный фестиваль, который объединит усилия всех участников проекта.</p>
        <div class="row margintop img-sm-p0">
          <img src="img/Ostrov-pustir.jpg" alt="Пустырь" class="img-fluid col-md-6">
          <img src="img/pejo.jpg" alt="Куклы мистера Пыжо" class="img-fluid col-md-6">
        </div>
        <h3 class="title-small">Парк малой городской скульптуры</h3>
        <div class="row img-sm-p0">
          <div class="col-4 col-md-4">
            <img src="img/sculpture1.jpg" alt="Городская скульптура" class="img-fluid">
          </div>
          <div class="col-4 col-md-4">
            <img src="img/sculpture3.jpg" alt="Городская скульптура" class="img-fluid">
          </div>
          <div class="col-4 col-md-4">
            <img src="img/sculpture2.jpg" alt="Городская скульптура" class="img-fluid">
          </div>
        </div>
        <h3 class="title-small">Старая улица</h3>
        <p class="text">«Старую улицу» предполагается создать на участке от набережной реки Пряжки до набережной реки Невы. <br><br>Это будет туристический маршрут, в стиле старинной европейской улочки с сувенирно-ремесленными лавками, небольшими галереями, мини-кафе, уличными скамейками для отдыха и малыми скульптурными формами, рассказывающими об истории места.</p>
        <div class="row text-padding-top img-sm-p0">
          <img src="img/old-street1.jpg" alt="Старая улица" class="img-fluid col-md-5">
          <img src="img/old-street2.jpg" alt="Старая улица" class="img-fluid col-md-4">
          <img src="img/old-street3.jpg" alt="Старая улица" class="img-fluid col-md-3">
        </div>
        <h3 class="title">Социально-образовательный контекст</h3>
        <p class="text">Основная задача «Острова мастеров» будет заключаться в привлечении людей разных социальных групп, возрастов и физических возможностей для знакомства с ремеслами и техниками искусства. Известные в городе художники будут руководить мастерскими. Параллельно с коммерческими проектами предполагается большая благотворительная работа.<br><br>К работе центра предполагается привлечь существующие на острове промышленные заводы. Исторические ремесла Петербурга можно будет изучать на «Острове мастеров» с помощью ведущих работников и инженеров. Одним из направлений может стать кружок макетирования старинных кораблей петровской эпохи. Другим может быть картографический кружок.<br><br>Идея художественного наследия — одна из самых главных в проекте. На Матисовом острове на протяжении всей его истории работали кузнецы, ткачи, художники, корабельщики. Цель современного использования острова в большой мере включает как передачу старинных традиций творчества, так и наполнение этого творчества новыми технологиями. Для этого планируется активное международное сотрудничество, привлечение знаменитых мастеров, способных внести свою лепту в задачу освоения петербуржцами самых разных областей искусства.<br><br>
        | Остров Мастеров откроется для всех, кто захочет расширить свои знания в области рукодельного творчества, будут проходить коммерческие и некоммерческие проекты для разных категорий граждан.</p>

        <div class="row img-sm-p0">
          <div class="col">
            <img src="img/social.jpg" alt="Социально-образовательный контекст" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>

  include partials/footer