extends layout

block content
  include partials/header
  
  <div class="container mt">
    <div class="row">
      <div class="col">
        h2.title Открытые Мастерские
        p.text Вокруг площадки находится много полуразрушенных, заброшенных зданий, которые будут переоборудованы в ремесленные мастерские всех направлений декоративно-прикладного искусства: текстильно-прядильные, керамические, кузнечно-литейные, бумажно-литейные, ювелирные, кукольные и другие. Также мастерские живописи, печатной графики, скульптуры (дерево, камень, пластика, мозаика), фотографии, медиа искусства, театра, моды, дизайна.

        ul
          each val, index in data
            li
              = index+1 + ': ' + val.name
              p= val.title

              if val.images
                each img in val.images
                  img(src=img)

      </div>
    </div>    
  </div>

  include partials/footer