extends layout

block content
  include partials/header
  
  <div class="container mt">
    <div class="row">
      <div class="col">
        h2.title Открытые Мастерские
        p.text.text-title-workshop Вокруг площадки находится много полуразрушенных, заброшенных зданий, которые будут переоборудованы в ремесленные мастерские всех направлений декоративно-прикладного искусства: текстильно-прядильные, керамические, кузнечно-литейные, бумажно-литейные, ювелирные, кукольные и другие. Также мастерские живописи, печатной графики, скульптуры (дерево, камень, пластика, мозаика), фотографии, медиа искусства, театра, моды, дизайна.
      </div>
    </div>    
  </div>
  <div class="container">
    <div class="row">
      <div class="workshop-card col col-md-4">
        img(class="card-img" src="img/zhukov01.jpg", alt="Жуков")
        p.title-card Арт-студия Влада Жукова
        p.text-card Аудио-видео продакшен
      </div>
      <div class="workshop-card col col-md-4">
        img(class="card-img" src="img/zhukov01.jpg", alt="Жуков")
        p.title-card Клуб декоративной куклы
        p.text-card Объединение кукольников Санкт-Петербурга
      </div>
      <div class="workshop-card col col-md-4">
        img(class="card-img" src="img/zhukov01.jpg", alt="Жуков")
        p.title-card Лоскут Ларисы Дергачевой
        p.text-card Лоскутное одеяло, лоскутное шитье
      </div>
       <div class="workshop-card col col-md-4">
        img(class="card-img" src="img/zhukov01.jpg", alt="Жуков")
        p.title-card Арт-студия Влада Жукова
        p.text-card Аудио-видео продакшен
      </div>
      <div class="workshop-card col col-md-4">
        img(class="card-img" src="img/zhukov01.jpg", alt="Жуков")
        p.title-card Клуб декоративной куклы
        p.text-card Объединение кукольников Санкт-Петербурга
      </div>
      <div class="workshop-card col col-md-4">
        img(class="card-img" src="img/zhukov01.jpg", alt="Жуков")
        p.title-card Лоскут Ларисы Дергачевой
        p.text-card Лоскутное одеяло, лоскутное шитье
      </div>
       <div class="workshop-card col col-md-4">
        img(class="card-img" src="img/zhukov01.jpg", alt="Жуков")
        p.title-card Арт-студия Влада Жукова
        p.text-card Аудио-видео продакшен
      </div>
      <div class="workshop-card col col-md-4">
        img(class="card-img" src="img/zhukov01.jpg", alt="Жуков")
        p.title-card Клуб декоративной куклы
        p.text-card Объединение кукольников Санкт-Петербурга
      </div>
      <div class="workshop-card col col-md-4">
        img(class="card-img" src="img/zhukov01.jpg", alt="Жуков")
        p.title-card Лоскут Ларисы Дергачевой
        p.text-card Лоскутное одеяло, лоскутное шитье
      </div>
    </div>
  </div>

  include partials/footer