extends layout

block content
  include partials/header
  
  <div class="container mt">
    <div class="row">
      <div class="col">
        h2 Арт-студия Влада Жукова
        p Аудио-видео продакшн, театральная, кино и музыкальная деятельность, съемка фото и видео, мастер-классы.
      </div>
    </div>    
  </div>

    <div class="container">
    <div class="row">
      <div class="col">
        img(src="img/zhukov01.jpg", alt="Арт-студия Влада Жукова")
      </div>
    </div>
  </div>

  include partials/footer