extends layout

block content
  include partials/header
  
  if index !== 'error'  
    .container
      .row
        .col
          p.mt-5
            a(href="/openworkshops") &#8592; Список мастерских
          h2.title= data.workshops[index].name
          p= data.workshops[index].description     

  <div class="container">
    <div class="row">
      <div class="col">
        img(src=data.workshops[index].images[0], alt=data.workshops[index].description)
      </div>
    </div>
  </div>

  include partials/footer